.grid {
  -fx-border-color: #4b4b4b;
}

.cell-no-outline {
  -fx-border-color: white;
}

.cell-outlined {
  -fx-border-color: gray;
  -fx-stroke: gray;
}

.cell:hover {
  -fx-fill: #b2a446;
}

.ui {
  -fx-background-color: rgba(185, 183, 183, 0.66);
}

.separator {
  -fx-background-color: #000000;
}

.label {
  -fx-font-family: "Segoe UI";
  -fx-font-size: 16px;
}

.label.title {
  -fx-font-family: "Segoe UI Semibold";
  -fx-font-size: 22px;
}

.label.description {
  -fx-font-size: 11px;
  -fx-wrap-text: true;
  -fx-min-height: 150px;
  -fx-translate-y: -130px;
  -fx-text-alignment: center;
}

.label.states {
  -fx-min-width: 200px;
  -fx-text-alignment: left;
  -fx-underline: true;
}

.label.params {
  -fx-font-size: 14px;
  -fx-translate-y: 10px;
  -fx-min-width: 200px;
  -fx-text-alignment: left;
}

.combo-box {
  -fx-font-size: 10px;
  -fx-text-fill: #006464;
  -fx-background-color: #DFB951;
  -fx-border-radius: 12;
  -fx-background-radius: 12;
  -fx-padding: 8;
}

.dropdown .label, .dropdown {
  -fx-font-size: 11px;
  -fx-alignment: center;
}

.button {
  -fx-text-fill: #006464;
  -fx-background-color: #DFB951;
  -fx-border-radius: 20;
  -fx-background-radius: 20;
  -fx-padding: 8;
}

.button:hover {
  -fx-background-color: #3a3a3a;
}

.button-row {
  -fx-spacing: 10;
  -fx-alignment: center;
}

.control-pane {
  -fx-padding: 20;
  -fx-spacing: 10;
  -fx-background-color: rgba(203, 239, 186, 0.24);
}

.chart-line-symbol {
  -fx-background-radius: 2px;
  -fx-padding: 2px;
}
